# Build artifacts
dist/

# IDE and editor directories
.idea/
.vscode/

# Docs
docs/

# Git
.git/
.gitignore

# Built binaries
mcp-prometheus

# NPM package artifacts
npm/

# Container
Containerfile
.dockerignore

# GitHub Actions
.github/
